@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* reset and common code starts here */
:root {
  --primary-color: rgb(255, 248, 243);
  --secondary-color: rgb(30, 30, 30);
  --surface-color: rgb(255, 255, 255);
  --font-small: 0.8rem;
  --font-medium: 1rem;
  --font-big: 2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  font-family: "Open Sans", sans-serif;
}
.btn {
  border: none;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* reset and common code ends here */

/* header code starts here */
.navbar {padding-top: 2rem;
}
.nav_items li {
  padding-left: 4rem;
}
.r_style{
    color: rgb(253, 110, 10);
}
/* header code ends here */
